[MASTER]
# Use single process to avoid multiprocessing issues
jobs=1

[MESSAGES CONTROL]
# Disable specific warnings that are too strict for our use case
disable=
    too-many-locals,
    too-many-branches,
    too-many-statements

[FORMAT]
# Maximum number of characters on a single line
max-line-length=100

[DESIGN]
# Maximum number of locals for function / method body (default: 15)
max-locals=25
